<!-- {{ include.col | debug }} -->

<div class="gallery" data-columns="{{include.col}}">
	{% for file in site.static_files %}
		{% if file.path contains include.folder %}
			{% if file.extname == '.jpg' or 
			file.extname == '.jpeg' or 
			file.extname == '.JPG' or 
			file.extname == '.JPEG' %}
		
			{% assign filenameparts = file.path | split: "/" %}
			{% assign filename = filenameparts | last | replace: file.extname,"" %}
		
			<img src="{{ file.path | relative_url }}" alt="{{ filename }}" title="{{ filename }}"/>
		
			{% endif %}
		{% endif %}
	{% endfor %}
</div>